<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
</head>
<body>

<ul class="lists">
  <% lists.each do |list| %>
    <li class="list">
      <h1 class="list-name"><%= list.name %></h1>

      <ul class="cards">
        <% list.cards.each do |card| %>
          <li class="card">
            <h2 class="card-name"><%= card.name %></h2>
          </li>
        <% end %>
      </ul>
    </li>
<% end %>
</ul>

</body>
</html>